.app {
  .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
  .img-align {
    width: 100px;
    height: 100px;
  }
  .nav-align {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      li {
        padding: 10px;
        margin: 10px;
      }
    }
  }
  .button1 {
    background-color: rgb(33, 157, 207);
    border: none;
    padding: 5px 30px;
    font-size: 16px;
  }

  .body-container {
    margin-top: 10px;
    padding: 10px;
    .body-wrapper {
      display: flex;
      margin-bottom: 20px;
      .search-bar {
        display: flex;
        .search-type {
          padding: 10px;
        }
      }
      .button-search {
        margin-right: 20px;
      }

      .button1 {
        font-size: 15px;
        background-color: beige;
        outline: none;
        border-radius: 8px;
        padding: 10px;
      }
    }

    .res-container {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .link-align {
        text-decoration: none;
        color: inherit;
        display: block;
        :hover {
          text-decoration: none;
        }
      }
      .res-card {
        background-color: #f5f5f5;
        border: 1px solid #dcdcdc;
        width: 250px;
        height: 320px;
        padding: 10px;
        border-radius: 16px;
        .res-image {
          width: 250px;
          height: 150px;
        }
        .res-name {
          font-size: 20px;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .res-description {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .shimmer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-menu {
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
    .menu1 {
      font-size: 25px;
      font-weight: bolder;
    }
    .menu-data-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      border-bottom: 0.5px solid #d3d3d3;
      .container-1 {
        margin-bottom: 40px;
        .data1 {
          font-family: Gilroy_Bold;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.3px;
          color: rgba(2, 6, 12, 0.75);
          margin-top: 4px;
        }
        .data3 {
          color: black;
          margin-left: 2px;
        }
        .data4 {
          font-family: Gilroy;
          font-weight: 200;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.3px;
          color: rgba(2, 6, 12, 0.6);
          margin-top: 12px;
          word-break: break-word;
        }
      }
      .container-2 {
        .image-align {
          width: 150px;
          height: 130px;
          border-radius: 12px;
        }
      }
      .border-align {
        border-bottom: 0.5px solid #d3d3d3;
        height: 0.5px;
        margin: 20px 0;
      }
    }
  }
  .menu-container {
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: rgb(248, 248, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
    padding: 20px;
    width: 800px;
  }
  .menu-align {
    display: flex;
    gap: 6;
  }
  .menu2 {
    font-size: 16px;
    font-weight: 900;
  }
  .menu3 {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.1px;
    color: rgb(255, 82, 0);
  }
  .menu4 {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
  }
  .menu5 {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.1px;
    color: rgb(255, 82, 0);
  }
}

// Error container dont belong inside the app container
.error-container {
  .error-align {
    color: orangered;
    font-style: italic;
  }
}

.about-container {
  .user-container {
    .user-text {
      border: 1px solid lightcoral;
      padding: 10px;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      display: flex;
    }
  }
}
