.align {
    color: green;
    font-style: italic;
}

.align1{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.align2{
    color: palevioletred;
    font-family:cursive;
}